/*  */
.hide-page-only-mobile {
  display: none;
}

@media screen and (min-width: 769px) {
  .app-layout {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 1fr;

    box-sizing: border-box;
  }

  .hide-page-only-mobile {
    display: block;
  }
}