:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color: #000;

  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */

  --tablet-min-width: 481px;
  --desktop-min-width: 769px;

  --page-bg: #DAE5F5;

  --scrollbar-bg: #D9D9D9;

  --roboto-font: 'Roboto', sans-serif;
}

/* a {
  text-decoration: none;
} */

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

button {
  /* border: 1px solid transparent; */
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.custom-grey-bg-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: var(--scrollbar-bg);

  padding: 0 2px;
  border-radius: 1rem;
}

.custom-grey-bg-scrollbar::-webkit-scrollbar-thumb {
  background: #fff;

  border: 1.5px solid var(--scrollbar-bg);
  border-radius: 1rem;
}


@media screen and (min-width: 769px) {
  .custom-grey-bg-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
}