.new-grp-form-container {
    background: #fff;

    border-radius: 0.5rem;

    padding: 1rem;

    width: 90vw;
    max-width: 500px;
    box-sizing: border-box;
}

.new-grp-form-container h1 {
    font-size: 1.5rem;
    text-align: left;
}

.form-input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.9rem;

    margin: 1.5rem 0;
}

.form-input-container>label {
    text-wrap: nowrap;
}

.form-input-container>input[type="text"] {
    padding: 0.5rem 1rem;

    font-weight: 400;
    border: 2px solid #CCCCCC;
    border-radius: 1rem;

    font-size: 1rem;

    width: 100%;
    box-sizing: border-box;

}

.radio-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.color-label {
    width: 4.5vw;
    height: 4.5vw;

    border: 2px solid transparent;
    border-radius: 50%;

    cursor: pointer;
}

.color-label-checked {
    border: 2px solid rgb(80, 80, 80);
}

input[type="radio"] {
    display: none;
}

.create-btn-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 2.5rem;
}

.create-btn {
    background: #16008B;

    font-size: 1rem;
    font-weight: 400;

    padding: 0.5rem 1rem;
    border-radius: 2rem;

    color: #fff;

    width: 50%;
}

.create-btn:focus,
.create-btn:focus-visible {
    outline: 3px double #000;
    /* outline-offset: -2px; */
}

/* this media query is to keep the color options within the content of nnew-grp-form-container div */
@media screen and (max-width: 330px) {
    .new-grp-form-container {
        padding: 1rem 0.8rem;
    }
}

@media screen and (min-width: 769px) {
    .new-grp-form-container {
        padding: 1.5rem 2.3rem;
        width: min(500px, 50vw);

        box-sizing: content-box;
    }

    .new-grp-form-container h1 {
        font-size: 2rem;
    }

    .form-input-container {
        gap: 1.5rem;
    }

    .form-input-container>input[type="text"] {
        padding: 0.5rem 1.5rem;
        width: 100%;
        box-sizing: content-box;
    }

    .radio-btns-container {
        gap: 0.7rem;
    }

    .color-label {
        width: 30px;
        height: 30px;
    }

    .create-btn-container {
        justify-content: flex-end;

        margin-top: 1.5rem;
    }

    .create-btn {
        width: auto;

        padding: 0.5rem 3rem;

    }
}